<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<meta charset="UTF-8">
		<title>学生列表</title>
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js" ></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="/js/vue.js"></script>
	</head>
	<body>
	<table class="table table-hover">
		<thead>
		<tr>
			<td>#</td>
			<td>学号</td>
			<td>姓名</td>
			<td>职位</td>
			<td>专业</td>
			<td>班级</td>
			<td>性别</td>
			<td>生日</td>
			<td>电话</td>
			<td>操作</td>
		</tr>
		</thead>
		<tbody  th:remove="${pageinfo.list.size()==0?'none':'all-but-first'}">
		<tr th:each="temp,iter:${pageinfo.list}">
			<td th:text="${iter.count}"></td>
			<td th:text="${temp.code}"></td>
			<td th:text="${temp.name}"></td>
			<td th:text="${temp.job}"></td>
			<td th:text="${temp.major}"></td>
			<td th:text="${temp.grade}"></td>
			<td>
				<div th:switch="${temp.sex}">
					<span th:case="1">男</span>
					<span th:case="2" style="color:red">女</span>
				</div>
			</td>
			<td th:text="${#dates.format(temp.brthday,'yyyy-MM-dd')}"></td>
			<td th:text="${temp.tel}"></td>
			<td>
				<!--<a th:href="|/c/users/upda?id=${temp.id}|" >修改</a>&nbsp;&nbsp;&nbsp;-->
				<a href="javascript:;" th:onclick="findByid([[${temp.code}]],1)">查看</a>&nbsp;&nbsp;&nbsp;
				<!--<a onclick="return confirm('确定要删除吗？')" th:href="|/c/users/remove?id=${temp.id}|" >删除</a>-->
			</td>
		</tr>
		<tr>
			<th colspan="10">没有找到数据！</th>
		</tr>
		</tbody>
		<tfoot>
		<tr>
			<td>
				当前页：[[${pageinfo.pageNum}]]&nbsp;/&nbsp;[[${pageinfo.pages}]]
				&nbsp;&nbsp;&nbsp;&nbsp;
				共：[[${pageinfo.pages}]]&nbsp;页
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/c/users/getStudnets?p=1&s=3">首页</a>&nbsp;&nbsp;
				<a th:href="|/c/users/getStudnets?p=${pageinfo.hasPreviousPage?pageinfo.prePage:1}&s=3|">上一页</a>&nbsp;&nbsp;
				<a th:href="|/c/users/getStudnets?p=${pageinfo.hasNextPage?pageinfo.nextPage:pageinfo.lastPage}&s=3|">下一页</a>&nbsp;&nbsp;
				<a th:href="|/c/users/getStudnets?p=${pageinfo.lastPage}&s=3|">末页</a>&nbsp;&nbsp;
			</td>
		</tr>
		</tfoot>
	</table>
		<br><br>
		<!--渲染详情-->
		<div id="findid">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>序号</th>
					<th>奖惩</th>
					<th>学生姓名</th>
					<th>创建人</th>
					<th>描述</th>
				</tr>
				</thead>
				<tbody>
					<tr v-for="rec in list">
						<td>{{rec.id}}</td>
						<td>{{rec.name}}</td>
						<td>{{rec.stuname}}</td>
						<td>{{rec.createby}}</td>
						<td>{{rec.des}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
	<script type="text/javascript">
		$(function () {
			$("#findid").hide();
		})
		var vm = new Vue({
			el: '#findid',
			data: {
				list:{}
			}
		});

		function findByid(id,pageNum) {
			// location.reload();
			var url = "/api/getstuByid?stucode="+id
			$.getJSON(url,function (data) {
				vm.list=data
			})
			$("#findid").show();
		}
	</script>
</html>
